body {
  font-family: "Raleway", sans-serif;
  background-color: burlywood;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Acerca-de-mi {
  background-image: linear-gradient(cyan, green);
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos {
  background-image: linear-gradient(cyan, yellow, green);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}